#dataSearch {
  padding: 30px 0;
  height: 92vh;
}

.dataSearch {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dataSearch h1 {
  color: red;
}

.dataSearch button {
  padding: 5px 20px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  margin-top: 21px;
  cursor: pointer;
  background-color: #fff;
}

.dateInput {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 4px;
}

.dateInput input {
  padding: 6px;
  width: 280px;
  outline: none;
  font-size: large;
  border-radius: 8px;
  border: 2px solid black;
  /* border: none; */
}
.dateInput label {
  font-weight: 600;
}

.exit {
  display: flex;
  gap: 20px;
}

.btn-exit {
  padding: 5px 20px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 10px 5px 3px 10px;
}
.btn-admin {
  padding: 5px 20px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 10px 5px 3px 10px;
}

/* MODAL */

.modal {
  width: 600px;
  height: 100px;
  border-radius: 24px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: absolute; */
  /* top: 37%; */
  margin: 200px auto;
  gap: 30px;
  padding: 30px 0;
}

.modal-btn {
  display: flex;
  gap: 80px;
}

.modal-btn button {
  padding: 12px 34px;
  border: none;
  background: #2677e9;
  color: white;
  font-size: 24px;
  border-radius: 12px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

/* DATA_ADMIN */

.data-admin-all {
  display: flex;
  justify-content: center;
}

.data-admin {
  width: 597px;
  height: 323px;
  border-radius: 12px;
  position: absolute;
  margin: 150px auto;

  /* background: white; */
  background: #5b9bb9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.rem {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 44px;
  cursor: pointer;
}

.data-admin input {
  width: 340px;
  padding: 12px 14px;
  border: 2px solid #010049;
  border-radius: 6px;
}
.data-admin button {
  padding: 12px 94px;
  border-radius: 8px;
  background: #010049;
  color: white;
  border: none;
  cursor: pointer;
}
