#dataSearch {
  padding: 30px 0;
  height: 100vh;
}

.dataSearch {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-employee {
  padding: 5px 20px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px 5px 3px 10px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.styled-table-horizontal {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.styled-table-horizontal thead tr {
  background-color: #34495e;
  color: #ffffff;
}

.styled-table-horizontal th,
.styled-table-horizontal td {
  padding: 10px 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.styled-table-horizontal tbody tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.table-input {
  width: 98%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  margin-left: -8px;
}

.table-input:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.saveBtn {
  display: flex;
}

.saveBtn button {
  cursor: pointer;
  margin: 40px auto;
  padding: 6px 32px;
  border-radius: 12px;
  border: none;
  background-color: #2677e9;
  font-size: 24px;
  color: white;
  font-weight: 600;
}



.dataSearch h1 {
  color: red;
}

.exit {
  display: flex;
  gap: 20px;
}

.btn-exit {
  padding: 5px 20px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 10px 5px 3px 10px;
}
.btn-admin {
  padding: 5px 20px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 10px 5px 3px 10px;
}

/* MODAL */

.modal {
  width: 600px;
  height: 100px;
  border-radius: 24px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 200px auto;
  gap: 30px;
  padding: 30px 0;
}

.modal-btn {
  display: flex;
  gap: 80px;
}

.modal-btn button {
  padding: 12px 34px;
  border: none;
  background: #2677e9;
  color: white;
  font-size: 24px;
  border-radius: 12px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

/* DATA_ADMIN */

.data-admin-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.data-admin {
  width: 597px;
  height: 323px;
  border-radius: 12px;
  position: absolute;
  margin: 150px auto;

  /* background: white; */
  background: #5b9bb9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.rem {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 44px;
  cursor: pointer;
}

.data-admin input {
  width: 340px;
  padding: 12px 14px;
  border: 2px solid #010049;
  border-radius: 6px;
}
.data-admin button {
  padding: 12px 94px;
  border-radius: 8px;
  background: #010049;
  color: white;
  border: none;
  cursor: pointer;
}
