/* .home-btn {
  width: 900px;
  border-radius: 12px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px auto;
  display: flex;
  justify-content: center;
} */

#home {
  padding: 50px 0 1px 0;
  height: 94vh;
  background: #76aded;
  /* background: url("https://png.pngtree.com/thumb_back/fh260/background/20201011/pngtree-abstract-system-technology-background-image_410906.jpg"); */
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.home-text {
  width: 600px;
  /* color: white; */
}

.home-text h1 {
  margin-top: 30px;
  font-size: 24px;
}

.home-text h2 {
  font-size: 20px;
}

.home-logo img {
  width: 200px;
}

/* HOME-LOGIN */

.home-login {
  position: relative;
  width: 450px;
  height: 460px;
  border-radius: 24px;
  /* background: #eaeaea; */
  background: white;
  margin: 25px auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 10px;
}

.home-login h2 {
  font-size: 30px;
  font-weight: 500;
  /* background: red; */
}

.home-login input {
  width: 380px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  outline: none;
  background: #f0f0f0;
  /* background: #2c48b7; */
}

.home-line {
  width: 400px;
  height: 1px;
  background: #b4b4b4;
  margin: 18px 0;
}

.home-login button {
  width: 400px;
  padding: 12px;
  font-size: 24px;
  margin-top: 20px;
  border-radius: 12px;
  border: none;
  color: white;
  background: #539278;
  cursor: pointer;
}
